@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400i');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');

body {
  margin: 0;
  background-color: #fff;
}

header {
  height: 646px;
  background: 
  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url(images/craneview.jpg);
  background-size: cover;
}

header {
  background-color: #4c666a;
  border-bottom: 1px solid #4c666a;
}

header h1 {
  text-align: center;
  color: #fff;
  font-family: Futura;
  font-size: 68px;
  text-transform: uppercase;
  margin-top: 0px;          
  margin-bottom: 40px;       
}

a:active { color: green; }
a:hover  { color: burlywood; }

img {
  width: 300px;
}

.image-circle {
    border-radius: 50%; 
}

header h2 {
  text-align: center;
  color: #fff;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 24px;
  padding-top: 270px;
  margin: 0px;                
}

header h3 {
  text-align: center;
  color: #fff;
}

header p {
  text-align: center;
}

header p a {
  color: #fff;
  font-family: arial;
  background-color: rgb(4, 75, 4);
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;       
  border-radius: 20px;       
}

/* about html page starts here*/
h4 {
  background-color: grey;
  font-family: 'san serif';
  font-size: 18px;
  text-align: center;
}

.aligncenter{
  text-align: center
}

main {
  height: 623px;
  background: 
  linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
  url(images/imagine.jpg);
  background-size: cover;
}

article {
color: #fff;
}

a {
color: #fff;
}
/* Past projects page starts here*/

section {
  background-color: #fff;
  background-image: url("images/craneview.jpg");
  text-align: center;
  color: #fff;
  font-family: futura;
  font-size: 20px;
}

/* mobile phone flex */
.wrapper {
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.item {
  flex: 1;
  margin: 10px;
  text-align: justify;
}


/* desktop flex*/
@media all and (min-width: 600px) {
  .wrapper{
    width: 100%;
    margin: auto;
  }


  .group {
    flex-direction: row;
    text-align: justify;
  }
}

/* contact form starts here */
form label, form p {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
  font-family: arial;
}


form input[type="radio"] { 
  font-size: 16px;
}

form input[type="radio"] + label { 
  display: inline;
  color:white;
  font-size: 16px;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
  font-family: arial;
}

form textarea {
  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 0;
    font-family: Tahoma;
    font-size: 16px;
    background: #000;
    color: #fff;
    margin: 0 8px 10px 0;
}
